#container,
#canvas_wrapper {
  float: left;
}

canvas {
  border-style: solid;
  border-color: #bbbbbb;
}

body,
#wrapper {
  margin: 0;
  padding: 0;
}

#container {
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Kosugi Maru", sans-serif;
}

#wrapper {
  content: "";
  display: table;
  clear: both;
}

li {
  line-height: 180%;
}

b {
  color: red;
}

h1 {
  font-size: 200% !important;
  font-weight: bold !important;
}

h2 {
  font-size: 170% !important;
  font-weight: bold !important;
}
