canvas {
  border-style: solid;
  border-color: deepskyblue;
  border-radius: 5px;
}

#wrapper {
  font-family: "Kosugi Maru", sans-serif;
}

b {
  color: crimson;
}

label {
  margin-right: 5px;
  margin-left: 5px;
}

svg {
  margin-right: 2px;
}