canvas {
  border-style: solid;
  border-color: #bbbbbb;
}

body {
  background-color: grey;
}

#wrapper {
  font-family: "Kosugi Maru", sans-serif;
}

b {
  color: blue;
}

h1 {
  font-size: 200% !important;
  font-weight: bold !important;
}

h2 {
  margin-top: 15px !important;
  font-size: 150% !important;
  font-weight: bold !important;
}

label {
  margin-right: 5px;
  margin-left: 5px;
}

svg {
  margin-right: 2px;
}